body {
    background-color:rgb(216, 195, 195);
}

* {
    margin: 0;
    padding: 0;
  }

  #example {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 25px solid #E8C48F;
    padding: 20px;
  }